@charset "UTF-8";

    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    :root {
        --cor1: #F21B2D;
        --cor2: #212126;
        --cor3: #191C59;
        --cor4: #6A6A73;
        --cor5: #592B27;
    
        --grad1: #231F20;
        --grad2: #F41818;
    }

    body {
        background-color: var(--cor2);
        height: 2000px;
    }

    .sidenav {
        height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0;
        left: 0;
        background-color: rgba(17, 17, 17, 0.384);
        backdrop-filter: blur(5px);
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
      }
      
      /* Os links do menu de navegação */
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.4em;
        color: white;
        display: block;
        transition: 0.3s;
        text-align: center;
      }

      .sidenav h5 span {
        color: white  ;
      }

      .sidenav h5 {
        color: #F21B2D;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px;
        font-size: 2.5em;
      }

      .sidenav #linha {
        background-color: var(--cor4);
        height: 2px;
        margin-bottom: 10px;
      }

      #icone-menu {
        color: white;
        background-color: var(--cor1);
        padding: 10px;
        margin: 20px 20px;
        cursor: pointer;
        position: absolute;
        position: fixed;
        right: 5px;
        border-radius: 10px;
        width: 50px;
        text-align: center;
      }
      
      /* Ao passar o mouse sobre os links de navegação, altere a cor deles */
      .sidenav a:hover {
        color: var(--cor1);
        margin-left: 5px;
      }
      
      /* Posicione e estilize o botão Fechar (canto superior direito) */
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* Conteúdo da página de estilo - use isso se quiser empurrar o conteúdo da página para a direita ao abrir a navegação lateral */
      #main {
        transition: margin-left .5s;
        padding: 20px;
      }
      
      /* Em telas menores, onde a altura é inferior a 450px, altere o estilo da navegação lateral (menos preenchimento e tamanho de fonte menor) */
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      header {
        width: 100%;
        height: 500px;
        border-bottom: solid 1px var(--cor1);
        background-image: url('../imagens/abstract-background-with-red-lines.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }  

      .container {
        margin: auto 60px;
        height: 100%;
        display: flex;
        justify-content: center;
      }

      .banner {
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }

      .infor {
        width: 500px;
        height: 250px;
        text-align: center;
      }

      .infor h1 {
        font-size: 3.5em;
        padding: 10px;
        color: white;
        text-shadow: 1px 1px 1px #F41818;
      }

      .infor span {
        padding: 10px;
        color: #F41818;
        font-size: 2em;
        text-shadow: 1px 1px 1px white;
      }

      .infor h3 {
        padding: 10px;
        color: whitesmoke;
        font-size: 1.5em;
        text-shadow: 1px 1px 1px #F41818;
      }

      .botao {
        padding: 10px;
      }

      .botao input {
        padding: 10px;
        background-color: var(--cor1);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 0.9em;
        font-weight: bold;
      }

      .botao input:hover {
        background-color: white;
        color: #ff0015;
        font-weight: bold;
      }

      .img {
        width: 300px;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .img img {
        width: 300px;
        height: 330px;
        border-radius: 50%;
      }

      .sobre .container {
        margin: auto 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .sobre .container .descrition {
        margin-top: 20px;
      }

      .sobre .container h2 {
        color: var(--cor4);
        padding: 10px;
      }

      .sobre .container h3 {
        margin: auto;
        text-align: center;
        padding: 10px;
        color: red;
      }

      .sobre .container p {
        width: 50%;
        margin: auto;
        color: white;
        text-align: center;
      }
