@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 668px) {
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    :root {
        --cor1: #F21B2D;
        --cor2: #212126;
        --cor3: #191C59;
        --cor4: #6A6A73;
        --cor5: #592B27;
    
        --grad1: #231F20;
        --grad2: #F41818;
    }

}