@charset "UTF-8";

@media screen and (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Maven Pro', sans-serif;
    }

    :root {
        --cor1: #F21B2D;
        --cor2: #212126;
        --cor3: #191C59;
        --cor4: #6A6A73;
        --cor5: #592B27;
    
        --grad1: #231F20;
        --grad2: #F41818;

        --font-especial: 'Maven Pro', sans-serif;
    }

    .sidenav {
        background-color: rgb(17, 17, 17);
    }

    #icone-menu {
        position: absolute;
        right: 0;
        font-weight: 300;
        padding: 10px;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 9px;
      right: 85px;
      font-size: 2em;
      margin-left: 50px;
    }

    .sidenav h5 {
        font-size: 2em;
        padding: 10px;
    }

    .container {
        margin: auto 60px;
        height: 100%;
        display: flex;
        justify-content: center;
      }

      header {
        background-size: cover;
        background-position: left;
      }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 80px 10px 10px 10px;
        width: 100%;
    }

    .infor {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .infor h1 {
        font-size: 2em;
        padding: 10px;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px #F41818;
      }

      .infor span {
        padding: 10px;
        color: #F41818;
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        background-color: transparent;
      }

      .infor h3 {
        padding: 10px;
        font-size: 1.4em;
        color: white;
        text-shadow: 1px 1px 1px #F41818;
      }

      .botao {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .botao input {
        padding: 10px;
        background-color: var(--cor1);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
      }

    .img {
        background-color: transparent;
    }

    .img img {
        height: 170px;
        width: 150px;
        border-radius: 50%;
    }

    .sobre .container p {
        width: 100%;
        margin: auto;
        color: white;
        text-align: justify;
        font-size: 1em;
        padding: 0px;
      }

      .habilidades .hab #html {
        width: 150px;
        height: 150px;
      }

      .habilidades .hab #css {
        width: 150px;
        height: 150px;
      }

      .habilidades .hab #js {
        width: 150px;
        height: 150px;
      }

      .habilidades .container h4 {
        text-align: justify;
        font-size: 1em;
        width: 100%;
      }
}