@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1100px) {
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    :root {
        --cor1: #F21B2D;
        --cor2: #212126;
        --cor3: #191C59;
        --cor4: #6A6A73;
        --cor5: #592B27;
    
        --grad1: #231F20;
        --grad2: #F41818;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    header nav ul {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 50px;
        width: 100%;
    }

    header nav ul li {
        padding: 10px;
        text-align: center;
    }

    header nav #icone-menu {
        display: block;
        cursor: pointer;
        color: white;
        padding: 5px;
    }

    header nav #links {
        display: none;
    }

    header .container {
        display: flex;
        flex-direction:column-reverse;
    }

    header .container section {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    header div #imagem {
        width: 312px;
        height: 312px;
    }

    header div #texto {
        width: 300px;
    }
}